./gofiles/project_file/test.json
./gofiles/project_file/logs
./gofiles/project_file/tmp/
./gofiles/project_file/.vscode
./gofiles/project_file/air.toml
./gofiles/project_file/vendor
./gofiles/project_file/temp
./gofiles/project_file/cmd/*